---
title: 4 Serras
---

<!-- <body class="page page-id-48 page-template-default custom-background"> -->
  <div id="wrapper" class="hfeed">
    <header id="header" role="banner">
      <header id="header" role="banner" onclick="location.href='http://www.everesting.cc';" style="cursor: pointer;" title="Home">
            <div id="site-title"><a href="http://www.everesting.cc" title="EVERESTING" rel="home">IV SERRAS</a></div>
    </header><!-- #header -->
  <div class="title-container">
    <h1 class="entry-title">IV SERRAS</h1>
  </div><!-- .title-container -->
  <div id="container">
    <article id="post-48" class="post-48 page type-page status-publish hentry">
      <div id="content">
        <section class="entry-content">
          <p>&nbsp;</p>
          <p><strong>IV SERRAS</strong> é um evento que promove a capacidade de superação dentro de cada um de nós. It’s this approach that keeps us interested, excited, and constantly seeking up.</p>
          <p>It all started with a bunch of guys who liked riding in the hills.&nbsp;Too much.</p>
          <p>We liked the fact that as hill riders we were on the fringe, so rather than race – we would set ourselves goals that no one else was doing. The pre-requisite for any challenge that we set was that it had to be tough. To qualify, it needed to be too difficult to just go out and ride it. We would spend months training up for each new epic – usually timed with the onset of spring. This meant that the crux of our training every year was undertaken in the cold, dark, and wet winters when everyone else would stay under the doona.</p>
          <p>It was this approach that would eventually lead to the mark of the cloud emblazoned on every Hells 500 riders arm, and the grey stripe across their chest. It is a symbol that reminds others that while they are taking it easy over winter, that’s when we ride the most. Each challenge completed lead to another more difficult, as these things tend to do. Soon we were clipping in on a hellish 2-day 500km epic through the High Country, including 10,000m of climbing. It was all kinds of tough, and word&nbsp;travelled. We started to get introduced as “those Hells 500 guys”. It stuck. Hells 500 are not afraid of the odd epic. In fact, the more odd, the greater the appeal. <a title="Hells 500 Epics" href="http://hells500.com/hells-500-epics/"><span style="text-decoration: underline;">Click here</span></a> to read more about some of our previous epics..<br>
          &nbsp;<br>
          &nbsp;<br>
          <strong>EVERESTING.</strong><br>
          Hells 500 are the creators and custodians of the <a href="http://www.everesting.cc" target="_blank">everesting concept</a>. It’s a fiendishly simple concept, and a fiendishly difficult ride to complete. Pick any climb, anywhere in the world and ride repeat after grinding repeat until you have notched up 8,848m vert. In one ride. </p>
          <p>All the kids are talking about it these days. <a href="http://www.everesting.cc/media/" target="_blank">See the coverage</a>.<br>
          &nbsp;<br>
          &nbsp;<br>
          <strong>HIGH ROULEUR’S SOCIETY.</strong><br>
The concept of entry to <a href="http://highrouleur.cc" target="_blank">High Rouleur’s Society</a> is simple. Pick any route, loop, or combination of roads and ride until you reach 10,000 vertical metres (32,809 feet). There are two ways you can rack up your 10,000m vert for your entry into the High Rouleur’s Society. </p>
<p>The Limit: One single unbroken ride of more than 10,000m vertical. No time restriction, no distance requirement, no sleep allowed. This approach is all about finding the boundaries of what is possible in a single ride.</p>
<p>The Journey: More than 10,000m vertical in less than 36 hours, with a minimum of 400km. Sleep is allowed (while the clock is ticking), and in fact it should form part of your strategy! This approach is all about the joy of plotting something epic and unusual. With the ability to start the two days in different locations you should be getting creative with what can be achieved.<br>
&nbsp;<br>
&nbsp;<br>
<strong>THE GREY STRIPE.</strong><br>
This stripe signifies Hells 500 riders who have completed either an <a href="http://www.everesting.cc">everesting</a>, or have notched up more than 10,000 vertical meters in a ride to enter the <a href="http://www.highrouleur.cc" target="_blank">High Rouleur’s Society</a>. Either way it’s bloody tough. They have put their blood, sweat, and tears into that sucka. When you see the grey stripe out on the road you know you are looking at one hard bastard.<br>
&nbsp;<br>
&nbsp;<br>
<strong>SWEET GEAR.</strong><br>
Hells 500 produce a range of kick-ass cycling kit, tees, stem caps, and limited edition socks. To check out the range of Hells 500 merch, <a href="http://www.hells500store.com" target="_blank">visit the site</a>.<br>
&nbsp;<br>
&nbsp;<br>
<strong>COMMUNITY.</strong><br>
Birds of a feather and all that. Our crew are scattered all over the globe, but they are tight. We look after one another, and we support the things we believe in. You can stalk us on <a href="http://app.strava.com/clubs/hells500" target="_blank">Strava</a>, check our feed on <a href="http://www.instagram.com/hells500" target="_blank">Instagram</a> watch cat videos on <a href="http://www.facebook.com/hells500" target="_blank">Facebook</a>, or do whatever the hell you do on <a href="http://www.twitter.com/hells500" target="_blank">Twitter</a>.</p>
<p>&nbsp;</p>
<p>&nbsp;<br>
&nbsp;</p>
<p><iframe src="https://player.vimeo.com/video/73669400" width="700" height="394" frameborder="0" title="H500 DIRTY DONNA" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe></p>
<!-- Simple Share Buttons Adder (6.0.5) simplesharebuttons.com --><div class="ssba ssba-wrap"><div style="text-align:left">Share<a data-site="" class="ssba_twitter_share" href="http://twitter.com/share?url=http://www.everesting.cc/hells500/&amp;text=HELLS+500+" target="_blank"><img src="http://www.everesting.cc/wp-content/plugins/simple-share-buttons-adder/buttons/plain/twitter.png" title="Twitter" class="ssba ssba-img" alt="Tweet about this on Twitter"></a><a data-site="" class="ssba_facebook_share" href="http://www.facebook.com/sharer.php?u=http://www.everesting.cc/hells500/" target="_blank"><img src="http://www.everesting.cc/wp-content/plugins/simple-share-buttons-adder/buttons/plain/facebook.png" title="Facebook" class="ssba ssba-img" alt="Share on Facebook"></a><a data-site="email" class="ssba_email_share" href="mailto:?subject=HELLS 500&amp;body=Check this out..%20http://www.everesting.cc/hells500/"><img src="http://www.everesting.cc/wp-content/plugins/simple-share-buttons-adder/buttons/plain/email.png" title="Email" class="ssba ssba-img" alt="Email this to someone"></a></div></div>         <div class="clear"></div>
                  </section><!-- .entry-content -->
              </div><!-- #content -->
    </article><!-- .post -->
        <div class="clear"></div>
  </div><!-- #container -->
    <footer id="footer">

      <nav id="access" role="navigation">
        <div id="primary-nav" class="nav"><ul id="menu-menu-1" class="menu"><li id="menu-item-103" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-48 current_page_item menu-item-103"><a href="http://www.everesting.cc/hells500/">HELLS 500</a></li>
<li id="menu-item-808" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-808"><a href="http://hells500store.com/">SHOP</a></li>
<li id="menu-item-828" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-828"><a href="http://www.everesting.cc/hall-of-fame/">HALL OF FAME</a></li>
<li id="menu-item-127" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-127"><a href="http://www.everesting.cc/the-rules/">THE RULES</a></li>
<li id="menu-item-964" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-964"><a href="http://www.everesting.cc/resources/">RESOURCES</a>
<ul class="sub-menu">
  <li id="menu-item-965" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-965"><a href="http://www.everesting.cc/tips-advice/">TIPS AND ADVICE</a></li>
  <li id="menu-item-969" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-969"><a href="http://www.crankpunk.com/blogs/everesting/item/882-crankpunk-coaching-systems-4-8-and-12-week-everesting-coaching-plans-available-now.html">TRAINING PLANS</a></li>
  <li id="menu-item-966" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-966"><a href="http://www.everesting.cc/hors-categorie/">HORS CATEGORIE</a></li>
  <li id="menu-item-826" class="ppr-new-window menu-item menu-item-type-post_type menu-item-object-page menu-item-826"><a target="_blank" href="http://www.everesting.cc/strava/">STRAVA</a></li>
  <li id="menu-item-102" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-102"><a href="http://www.everesting.cc/now/">RIDING NOW</a></li>
  <li id="menu-item-967" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-967"><a href="http://www.everesting.cc/media/">MEDIA</a></li>
  <li id="menu-item-945" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-945"><a href="http://www.everesting.cc/virtual-everesting-rules/">vEVERESTING RULES</a></li>
  <li id="menu-item-946" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-946"><a href="http://www.everesting.cc/veveresting-hall-fame/">vEVERESTING HALL OF FAME</a></li>
  <li id="menu-item-968" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-48 current_page_item menu-item-968"><a href="http://www.everesting.cc/hells500/">HELLS 500</a></li>
  <li id="menu-item-987" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-987"><a href="http://www.highrouleur.cc">HRS</a></li>
</ul>
</li>
<li id="menu-item-857" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-857"><a href="http://veloviewer.com/everesting">SUBMIT</a></li>
<li id="menu-item-858" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-858"><a href="http://www.everesting.cc/contact/">CONTACT</a></li>
</ul></div>     </nav><!-- #access -->
    </footer><!-- #footer -->
  </header></div><!-- #wrapper -->
    <div style="display:none">
  </div>
<script type="text/javascript">
/* <![CDATA[ */
var TB_labels = {"no_config":"No configuration settings found","twitter_logo":"Twitter Logo","kino":"Development by Kirill Novitchenko","refresh":"Refresh","no_sources":"Twitter sources to blend are not defined","no_global_config":"Cannot retrieve Tweet Blender configuration options","version_msg":"Powered by Tweet Blender plugin v{0} blending {1}","limit_msg":"You reached Twitter API connection limit","no_tweets_msg":"No tweets found for {0}","loading_msg":"Loading tweets...","time_past":"{0} {1} ago","time_future":"in {0} {1}","second":"second","seconds":"seconds","minute":"minute","minutes":"minutes","hour":"hour","hours":"hours","day":"day","days":"days","week":"week","weeks":"weeks","month":"month","months":"months","year":"year","years":"years","check_fail":"Check failed","limit_num":"Max is {0}\/hour","limit_left":"You have {0} left","from":"from","reply":"reply","follow":"follow","limit_reset":"Next reset","view_more":"view more"};
/* ]]> */
</script>
<script type="text/javascript" src="http://www.everesting.cc/wp-content/plugins/tweet-blender/js/lib.js?ver=62a094459738bebdd82f24e29b0e153a"></script>
<script type="text/javascript" src="http://www.everesting.cc/wp-content/plugins/tweet-blender/js/main.js?ver=62a094459738bebdd82f24e29b0e153a"></script>
<script type="text/javascript" src="http://www.everesting.cc/wp-content/plugins/contact-form-7/includes/js/jquery.form.min.js?ver=62a094459738bebdd82f24e29b0e153a-2014.06.20"></script>
<script type="text/javascript">
/* <![CDATA[ */
var _wpcf7 = {"loaderUrl":"http:\/\/www.everesting.cc\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif","sending":"Sending ..."};
/* ]]> */
</script>
<script type="text/javascript" src="http://www.everesting.cc/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=62a094459738bebdd82f24e29b0e153a"></script>
<script type="text/javascript" src="http://www.everesting.cc/wp-content/plugins/simple-share-buttons-adder/js/ssba.min.js?ver=62a094459738bebdd82f24e29b0e153a"></script>
<script type="text/javascript" src="http://s0.wp.com/wp-content/js/devicepx-jetpack.js?ver=62a094459738bebdd82f24e29b0e153a"></script>
<script type="text/javascript" src="http://s.gravatar.com/js/gprofiles.js?ver=62a094459738bebdd82f24e29b0e153aJanaa"></script>
<script type="text/javascript">
/* <![CDATA[ */
var WPGroHo = {"my_hash":""};
/* ]]> */
</script>
<script type="text/javascript" src="http://www.everesting.cc/wp-content/plugins/jetpack/modules/wpgroho.js?ver=62a094459738bebdd82f24e29b0e153a"></script>
<script type="text/javascript" src="http://www.everesting.cc/wp-includes/js/comment-reply.min.js?ver=62a094459738bebdd82f24e29b0e153a"></script>
<script type="text/javascript" src="http://stats.wp.com/e-201603.js" async="" defer=""></script>
<script type="text/javascript">
  _stq = window._stq || [];
  _stq.push([ 'view', {v:'ext',j:'1:3.7.2',blog:'63992170',post:'48',tz:'11',srv:'www.everesting.cc'} ]);
  _stq.push([ 'clickTrackerInit', '63992170', '48' ]);
</script>

    <img src="http://pixel.wp.com/g.gif?v=ext&amp;j=1%3A3.7.2&amp;blog=63992170&amp;post=48&amp;tz=11&amp;srv=www.everesting.cc&amp;host=www.everesting.cc&amp;ref=http%3A%2F%2Fwww.everesting.cc%2F&amp;rand=0.6834079581312835" id="wpstats">
  <!-- </body> -->
